


.HomeOne {
    display: flex;
}
.HomeOne-one {
    width: 30%;

}
.HomeOne-two {
    width: 70%;
}

.news-topic {
    border: 1px solid;
    margin: 3px;
    border-radius: 5px;
    color: rgb(169, 18, 39);
}