@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&display=swap');

.HomeComponent {
    height: 100vh;

}


.events {
    padding-bottom: 100px;
    background-color: whitesmoke;
    padding-top: 30px;
}

.events-heading h1 {
    font-family: 'Righteous', cursive;
    font-size: 60px;
}
.events-heading h3 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 30px;
    font-weight: 100;
    margin-bottom: 60px;
    color: rgb(151, 0, 3);
}

.events-inner {
    display: flex;
    width: 90%;
    margin: auto;
    gap: 30px;
}
.events-one {
   width: 50%;
}

.events-one-one {
    position: relative;
    margin-bottom: 30px;
}

.events-one-one-desc {
   margin-top: 10px;
   position: absolute;
   bottom: 0px;
   text-align: left;
   padding-left: 20px;

    background: rgba(0, 0, 0, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);

    color: white;

}
.events-one-one img {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.events-one-two {
    width: 100%;
    display: flex;
}
.events-one-two-one {
   width: 50%;
    margin: 0px 15px 0px 0px;
}
.events-one-two-one-desc {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    border: 1px solid white;
    padding: 10px;
    background-color: white;
}
.events-one-two-one img{
    width: 100%;
}
.events-one-two-two {
   width: 50%;
   margin: 0px 0px 0px 15px;
}
.events-one-two-two img {
    width: 100%;
}

.events-two-one {
    display: flex;
    margin-bottom: 30px;
}
.events-two-one-one {
    width: 50%;
    margin: 0px 15px 0px 0px;
}
.events-two-one-one img {
    width: 100%;
}
.events-two-one-one-desc {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    border: 1px solid white;
    padding: 10px;
    background-color: white;
}
.events-two-one-two {
    width: 50%;
    margin: 0px 0px 0px 15px;
}
.events-two-one-two img {
    width: 100%;
}
.events-two-one-two-desc {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    border: 1px solid white;
    padding: 10px;
}
.events-two-two {
    position: relative;
}
.events-two-two img {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.events-two-two-desc {
   margin-top: 10px;
   position: absolute;
   bottom: 0px;
   text-align: left;
   padding-left: 20px;

    background: rgba(0, 0, 0, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);

    color: white;
} 





/* ---------------------------------- */
.about {
    padding: 10px 0px 100px 0px;
}
.about-heading {

}
.about-heading h1 {
    font-family: 'Righteous', cursive;
    font-size: 60px;
}

.about-heading {

}
.about-heading h3 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    font-weight: 400;
    color: rgb(151, 0, 3);
    width: 80%;
    margin: auto;
}

.about-two {
    display: flex;
    justify-content: space-around;
    padding-top: 30px;
    flex-wrap: wrap;
    row-gap: 20px;
}
.about-two-cmn {
    width: 30%;
}
.counter {
    font-size: 40px;
    font-weight: 900;
}
.about-more {
    margin-top: 60px;
    width: 100%;
}
.about-more-link {
    text-decoration: none;
    color: white;
    font-size: 22px;

    border: 2px solid rgb(151, 0, 3);
    padding: 15px 30px 15px 30px;
    background-color: rgb(151, 0, 3);
    border-radius: 10px;

    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}