@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&display=swap');

.HomeComponent {
    height: 100vh;

}

.main {
    position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding: 50px;
  font-size: 20px;
  z-index: -1;
  height: 100vh;
  background-color: whitesmoke;

}
.main-last {
    position: absolute;
    bottom: 0;
}
.main-last-inner {
}
.main-last-inner a {

}

.culture {
    height: 100vh;
    z-index: 99999;
    background-color: white;
    padding-top: 40px;
}
.culture-heading {

}
.culture-heading h1 {
    font-family: 'Righteous', cursive;
    font-size: 60px;
}
.culture-heading h3 {
    width: 70%;
    font-family: 'Josefin Sans', sans-serif;
    margin: auto;
    color: rgb(151, 0, 3);
    font-size: 30px;
    font-weight: 100;
}







.events {
    padding-bottom: 100px;
    background-color: whitesmoke;
    padding-top: 30px;
}

.events-heading h1 {
    font-family: 'Righteous', cursive;
    font-size: 60px;
}
.events-heading h3 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 30px;
    font-weight: 100;
    margin-bottom: 60px;
    color: rgb(151, 0, 3);
}

.events-inner {
    display: flex;
    width: 90%;
    margin: auto;
    gap: 30px;
}
.events-one {
   width: 50%;
}

.events-one-one {
    position: relative;
    margin-bottom: 30px;
}

.events-one-one-desc {
   margin-top: 10px;
   position: absolute;
   bottom: 0px;
   text-align: left;
   padding-left: 20px;

    background: rgba(0, 0, 0, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);

    color: white;

}
.events-one-one img {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.events-one-two {
    width: 100%;
    display: flex;
}
.events-one-two-one {
   width: 50%;
    margin: 0px 15px 0px 0px;
}
.events-one-two-one-desc {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    border: 1px solid white;
    padding: 10px;
    background-color: white;
}
.events-one-two-one img{
    width: 100%;
}
.events-one-two-two {
   width: 50%;
   margin: 0px 0px 0px 15px;
}
.events-one-two-two img {
    width: 100%;
}

.events-two-one {
    display: flex;
    margin-bottom: 30px;
}
.events-two-one-one {
    width: 50%;
    margin: 0px 15px 0px 0px;
}
.events-two-one-one img {
    width: 100%;
}
.events-two-one-one-desc {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    border: 1px solid white;
    padding: 10px;
    background-color: white;
}
.events-two-one-two {
    width: 50%;
    margin: 0px 0px 0px 15px;
}
.events-two-one-two img {
    width: 100%;
}
.events-two-one-two-desc {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    border: 1px solid white;
    padding: 10px;
}
.events-two-two {
    position: relative;
}
.events-two-two img {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.events-two-two-desc {
   margin-top: 10px;
   position: absolute;
   bottom: 0px;
   text-align: left;
   padding-left: 20px;

    background: rgba(0, 0, 0, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);

    color: white;
} 





/* ---------------------------------- */
.about {
    padding: 10px 0px 100px 0px;
    background-color: white;
}
.about-heading {

}
.about-heading h1 {
    font-family: 'Righteous', cursive;
    font-size: 60px;
}

.about-heading {

}
.about-heading h3 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    font-weight: 400;
    color: rgb(151, 0, 3);
    width: 80%;
    margin: auto;
}

.about-two {
    display: flex;
    justify-content: space-around;
    padding-top: 30px;
    flex-wrap: wrap;
    row-gap: 20px;
}
.about-two-cmn {
    width: 30%;
}
.counter {
    font-size: 40px;
    font-weight: 900;
}
.about-more {
    margin-top: 60px;
    width: 100%;
}
.about-more-link {
    text-decoration: none;
    color: white;
    font-size: 22px;

    border: 2px solid rgb(151, 0, 3);
    padding: 15px 30px 15px 30px;
    background-color: rgb(151, 0, 3);
    border-radius: 10px;

    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    font-weight: 600;
}

.about-more-link:hover {
    color: rgb(151, 0, 3);
    font-weight: 600;
    background-color: white;
    border: 2px solid rgb(151, 0, 3);
    transition: all 0.4s ease-in-out;
    zoom: 1.1;
}


/* scroll to top */
#scrollToTop {
    border: 2px solid black;
    width: 10%;
    color: red;
    height: 7vh;
    border-radius: 10px;
    font-size: 15px;
}


/* /Frequently Asked Questions */


.faq {
    padding-top: 50px;
    background-color: rgb(48, 12, 12);
    border-bottom: 1px solid rgb(53, 51, 51);
    padding-bottom: 70px;
}

.faq h1 {
    color: white;
    font-size: 40px;
    display: inline;
    z-index: 99;
}

.faqImage {
    display: inline;

}
.faqImage img {
    width: 3%;
    position: absolute;
    margin-left: 30px;
}

.faqInner {
    width: 90%;
    margin: auto;
    margin-top: 80px;
}


/* quick links */
.quicklinks {
    display: flex;
    background-color: white;
}
.quicklinks-inner {
    display: flex;
    padding: 40px 0px 40px 0px;
    margin-left: 5%;
    gap: 10px;
    width: 60%;
}

.quicklinks-inner h3 {
    font-weight: 800;
    color: rgb(151, 0, 3);
}
.quicklinks-inner li {
    list-style: none;
    text-align: left;
    margin: 15px 10px 10px 10px;
    color: black;
    font-weight: 500;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.qls {
    text-decoration: none;
    font-size: 20px;
    color: black;

}
.quick-image {
    text-align: center;
    width: 40%;
}

.quick-image img {
    width: 70%;
    margin-top: 150px;
}