@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&display=swap');



.FooterComponent {
    background-color: whitesmoke;
    padding-top: 70px;

    border-top: 2px solid rgb(225, 223, 223);
    margin-top: 10px;
}

.FooterContainer hr {
    width: 92%;
    height: 0.4px;
    border: none;
    background-color: rgb(170, 162, 162);
}
.FooterTwo {
    display: flex;
}
.FooterTwo-one {
    width: 40%;
    text-align: left;   
}

.FooterTwo-one h3 {
    font-size: 14px;
    margin-left: 15%;
}
.FooterTwo-one h5 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    font-weight: 300;
    color: rgb(151, 0, 3);
    line-height: 27px;
    margin-left: 15%;
    text-align: justify;
}


.FooterThree {
    display: flex;
    width: 90%;
    margin: auto;
    margin-top: 20px;
}

.FooterThree-one {
    width: 70%;
    text-align: left;
}
.FooterThree-one p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 100;
    display: inline;
    font-weight: 320;
}
.FooterThree-two {
    width: 30%;
    text-align: right;
    padding-bottom: 50px;
}
#copyright {
    font-size: 15px;
}

.FooterThree-two i {
    margin: 0px 15px 0px 15px;
}
#socialIcons {
    font-size: 25px;
}
